[ ca ]                                                              # The default CA section
default_ca = CA_default                                             # The default CA name

[ CA_default ]                                                      # Default settings for the intermediate CA
dir               = $HOME/devops/CA/intermediateCA              # Intermediate CA directory
certs             = /certs                                      # Certificates directory
crl_dir           = /crl                                        # CRL directory
new_certs_dir     = /newcerts                                   # New certificates directory
database          = /index.txt                                  # Certificate index file
serial            = /serial                                     # Serial number file
RANDFILE          = /private/.rand                              # Random number file
private_key       = /private/intermediate.val.key.pem    # Intermediate CA private key
certificate       = /certs/intermediate.val.cert.pem     # Intermediate CA certificate
crl               = /crl/intermediate.val.crl.pem        # Intermediate CA CRL
crlnumber         = /crlnumber                                  # Intermediate CA CRL number
crl_extensions    = crl_ext                                         # CRL extensions
default_crl_days  = 30                                              # Default CRL validity days
default_md        = sha256                                          # Default message digest
preserve          = no                                              # Preserve existing extensions
email_in_dn       = no                                              # Exclude email from the DN
name_opt          = ca_default                                      # Formatting options for names
cert_opt          = ca_default                                      # Certificate output options
policy            = policy_loose                                    # Certificate policy

[ policy_loose ]                                                    # Policy for less strict validation
countryName             = optional                                  # Country is optional
stateOrProvinceName     = optional                                  # State or province is optional
localityName            = optional                                  # Locality is optional
organizationName        = optional                                  # Organization is optional
organizationalUnitName  = optional                                  # Organizational unit is optional
commonName              = supplied                                  # Must provide a common name
emailAddress            = optional                                  # Email address is optional

[ req ]                                                             # Request settings
default_bits        = 2048                                          # Default key size
# distinguished_name  = req_distinguished_name                        # Default DN template
string_mask         = utf8only                                      # UTF-8 encoding
default_md          = sha256                                        # Default message digest
x509_extensions     = v3_intermediate_ca                            # Extensions for intermediate CA certificate
prompt              = no                                            # Added
encrypt_key         = no                                            # Added
# default_keyfile    = cert_req_01.key                              # Added

[ v3_intermediate_ca ]                                              # Intermediate CA certificate extensions
subjectKeyIdentifier   = hash                                       # Subject key identifier
authorityKeyIdentifier = keyid:always,issuer                        # Authority key identifier
# basicConstraints     = critical, CA:true, pathlen:0               # Removing pathlen to allow multiple intermediate ca's
basicConstraints       = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign         # Key usage for a CA

[ crl_ext ]                                                         # CRL extensions
authorityKeyIdentifier=keyid:always                                 # Authority key identifier
